/*

Theme Name: Porto
Theme URI: http://www.newsmartwave.net/wordpress/porto
Author: SW-THEMES
Author URI: http://www.newsmartwave.net/
Description: Porto Responsive Wordpress + eCommerce Theme.
Version: 4.2
License: Commercial
License URI: http://themeforest.net/licenses/regular_extended
Tags: woocommerce, corporate, ecommerce, responsive, blue, black, green, white, light, dark, red, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: porto

*/

/*************** ADD YOUR CUSTOM CSS HERE  ***************/
body {
  margin: 0; }
@keyframes quick-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: .2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2; } }
@keyframes quick-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }
@media screen and (min-width: 993px) {
	.site-support {
    background: #444;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 16px;
    z-index: 1001; }

  .site-support .item {
    float: left;
    margin-right: 30px;
    padding: 5px 0; }

  .site-support .item.chat {
    background: #0B5B1D;
    padding: 5px 20px;
    float: right;
    margin-right: 0;
    position: relative; }

  .site-support .item.chat:hover {
    background: #00B328; }

  .site-support .item.chat .fa {
    -webkit-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    border-radius: 100%;
    padding: 5px 6px;
    font-size: 30px;
    position: absolute;
    left: -20px;
    top: -20px;
    background: #CD843B; }

  .site-support .item.toogle-support {
    display: none; }

  .site-support a {
    color: #fff; }

  .site-support .fa {
    color: #fff;
    padding: 5px 8px;
    background: #0B5B1D; }

  .site-content {
    max-width: 1170px;
    margin: 0 auto; }

  .hidden-pc {
    display: none; }

  .hidden-phone {
    display: block; }

  .download-fill {
    width: 80px;
    height: 80px;
    top: -40px;
    left: -40px;
    position: absolute;
    background-color: #CD843B;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .75;
    -webkit-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }}
@media screen and (max-width: 992px) {
  .hidden-pc {
    display: block; }

  .hidden-phone {
    display: none; }

  .contact-fill {
    width: 80px;
    height: 80px;
    top: -110px;
    left: -69px;
    position: absolute;
    background-color: #0B5B1D;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .1;
    -webkit-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }

  .site-support {
    position: fixed;
    left: 20%;
    transform: translateX(-50%);
    bottom: 10px;
    z-index: 1001; }

  .site-support .item {
    margin: 10px 0;
	top: -100px;
    left: -50px;
    position: absolute;
    height: 40px;
    line-height: 40px;
    text-align: right;
    animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: quick-alo-circle-img-anim 1s infinite ease-in-out; }

  .site-support .item span {
    color: #fff;
    background: #000;
    padding: 5px 10px;
    margin-right: 10px;
    position: relative;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4); }

  .site-support .item span:after {
    position: absolute;
    right: -6px;
    content: '';
    top: 8px;
    width: 0px;
    height: 0px;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-left: 6px solid #000; }

  .site-support .item.toogle-support-item {
    display: none;
    margin-right: 8px; }

  .site-support .item.toogle-support {
    display: block; }

  .site-support .item.toogle-support .fa {
    width: 56px;
    height: 56px;
    line-height: 56px;
    font-size: 30px; }

  .site-support .fa {
    color: #fff;
    float: right;
    font-size: 25px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #0B5B1D;
    text-align: center;
    border-radius: 50%; }}
*{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}.lvchatnew{cursor:pointer}.lvchatnew .lvc_sm{z-index:999;position:fixed;top:45%;left:10px}.lvchatnew .lvc_sm a{display:block;width:126px;height:100px}.lvchatnew .lvc_sm .effect{animation:show 3s infinite}.lvchatnew .lvc_big{display:none}.lvchatnew .lvc_mb{display:none;width:100%;background:rgba(0,0,0,0.6);text-transform:uppercase;font-weight:bold}.lvchatnew .lvc_mb img{margin-right:5px;vertical-align:middle;margin-bottom:0}.lvchatnew .lvc_mb .dbtn{font-size:15px;padding:10px 5px;margin:10px 3px;width:30%}.lvchatnew #buttons{padding-top:50px;text-align:center}.lvchatnew .dbtn{border-radius:5px;padding:15px 25px;font-size:22px;text-decoration:none;margin:20px;color:#fff;position:relative;display:inline-block}.lvchatnew .dbtn:active{transform:translate(0px, 5px);-webkit-transform:translate(0px, 5px);box-shadow:0px 1px 0px 0px}@keyframes show2{0%{opacity:1}34%{opacity:1}35%{opacity:0}36%{opacity:1}37%{opacity:0}38%{opacity:1}39%{opacity:0}40%{opacity:1}41%{opacity:0}42%{opacity:1}68%{opacity:1}72%{opacity:1}100%{opacity:1}}.lvchatnew .kn1bt{background-color:#02a64f;box-shadow:0px 3px 0px 0px #10384a}.lvchatnew .kn1bt:hover{background-color:#1d9375}.lvchatnew .kn1bt img{animation:show2 10s infinite}.lvchatnew .kn2bt{background-color:#f16548;box-shadow:0px 3px 0px 0px #b94932}.lvchatnew .kn2bt:hover{background-color:#f1755c}.lvchatnew .red{background-color:#e74c3c;box-shadow:0px 3px 0px 0px #CE3323}.lvchatnew .red:hover{background-color:#FF6656}@media screen and (max-width: 441px){.lvchatnew .lvc_mb .dbtn{width:45%}.lvchatnew .lvc_big,.lvchatnew .lvc_sm{display:none}.lvchatnew .lvc_mb{z-index:999;display:block;text-align:center;position:fixed;width:100%;left:0;bottom:0;font-family:arial}}@media screen and (max-width: 320px){.lvchatnew .lvc_mb .dbtn{width:45%}}
.bypostauthor {}